.alert-danger, .alert-error,.error {
    background-color: #f2dede;
    border-color: #b94a48;
    color: #b94a48;
}
    .input-small {
    width: 90px;
}
select {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 220px;
}
select, input[type="file"] {
    height: 30px;
    line-height: 30px;
}
