.property_type{
 
}
.status_legend{
    background:none;
    background-color: none;
    color: black;
    border: 0px solid;
    width: auto;
}
.status_legend.subcategory_label{
    background: none;
    background-color: #0F88CA !important;
    color: white;
    border: 0px solid;
    min-width: 206px;
    padding-left:10px;
    padding-right:10px;
    border: 1px solid #E5E5E5;
}
.status_legend.legend_rating{
    font-weight:bold;
    font-size:12pt;
    color:#42B5E8;
    font-family: Helvetica,Arial,sans-serif;
}
.btn_bold{
    font-weight: bold;
    background-color:#0F88CA;
    color: #ffd03f;
    font-family: Helvetica,Arial,sans-serif;
    background-image: none;    
    text-shadow:none;
}
.control_fieldset{
    border: 1px solid;
    border-color: black;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
}
.properties{
    margin-left:0px;
    margin-right:20px;
}
.property_menu {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 30px 0 0;
    padding: 0;
    width: 228px;        
}
.selected{
    background-color: #0088CC;
    color: #FFFFFF;
}


.property_type>div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.property_type a{
    text-decoration:none;
}

.div_property_template_caption{
    clear: both;
    display: block;
    text-align: center;
    width: 80%;    
    font-weight: bold;
}
.template div:nth-child(2){
    margin-top:20px;
    width: 656px !important;
}
#div_new_property {
    margin-left: 0;
}
#accordition .accordion-heading:nth-child(1){
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
}
#accordition .accordion-toggle{
    display: inline !important;
    padding-left:5px;
}
.properties{
    margin-top: 11px;
}
#properties div{
    margin-left: 0;
   
}
div.properties{
    min-height: 500px;
}
#div_new_property{
    
}
.remove_element{
    background-image: url("../img/minus-icon.png");
     
    height:24px;
    width:24px;
}
#icon_add_sub{
    margin-top:10px;
}
.icon_toggle{
    margin-top: 10px;
}
.buttons{
    margin-top: 20px;
}
.notes textarea{
   margin-right:20px;
    width:100%;
}

.category_values{
    margin-top: 10px;    
}
.accordion_values{
    
}
 
.accordion_heading_cat{
    background-color: #EFEFEF;
    border: 1px solid #CBC4C4;
    border-radius: 6px 6px 6px 6px;
    font-weight: bold;    
}
.accordion_heading_subcat{

    border: 1px solid #CBC4C4;
         
}
.accordion_heading_subcat{
    background-color: #EFEFEF;
    border: 1px solid #CBC4C4;
    border-radius: 6px 6px 6px 6px;    
}

.subcategory_content {
    margin-bottom: 60px;
    margin-top: -20px;
}

li.category a{
    border-radius: 6px 6px 6px 6px;    
}
#div_report .subcategory_container:nth-child(2){
    margin-top: -39px;
}

/**
* Image add modal
*/
/*
#image_modal{
    top:33%;
    max-width: 1024px;
    max-height: 1200px;
    width: auto;
    height: auto;
    min-width: 600px;
    min-height: 600px;
} */ 
.image_modal{
    left:6%;
    top:4% !important;
     
    margin: 0px 0px 0px 0px !important;
    width: 88% !important;
    height: 92% !important;
    max-height: 88% !important;
}
.image_modal .modal-body{     
    min-height: 80%!important;      
}
.image_modal .modal-header{
    padding: 1px 2px 3px 14px !important;
    
    max-height:10%!important;
}
.image_modal .modal-footer{
    max-height:10%!important;
    padding: 0px 0px 5px 0px !important; 
}
#div_galleria{
    height:600;
    width:900;
}
.galleria-stage{
    height: 70%;
    width: 100%;     
}
.galleria-container{
    width: 80%;
    height: 80%;    
    margin-left: auto;
    margin-right: auto;    
} 

.first_row_template{
    margin-top: -7px;
}

.div_concern{
    display: block;
    width: 100%;
    clear: both;
}
.div_concern label.checkbox{
    display: inline !important;
    float: left;
}
/**
* Html report
*/
.row_html .categories_menu{
    margin-top: 18px;
}
#div_report_html .span_category{
    float: none !important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin:0 auto;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    color: #FFFFFF;
    width: 20%;
    text-align:center;
    background-image: url("../img/button.top.png");
    border-radius: 5px 5px 0 0 !important;
    font-size: 13pt;
    font-weight: bold;   
}
.span_predefined{
   width: 40% !important; 
}
#div_report_html .div_subcategory_values{
    display:block;
    clear: both;
}
.div_subcategory_title{    
    padding-left: 9px;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-right: 3px;
    border-bottom: 1px solid #DEDCDC;
    border-top: 1px solid #DEDCDC;
    margin-top: -1px;
    display: block;
}
.div_subcategory_title p{
    display: inline;
}
.p_subcategory{
    text-align: left;
    color: #1A6FC9;
    font-weight: bold;
    font-size: 13pt;    
}
.p_rating{
    text-align: right !important;
    float: right !important;
    font-size: 13pt;
    color: #78B43B;
    font-weight: bold;    
}
.span_notes{
    font-weight: bold;
    color: #1A6FC9;
    margin-left: 1mm;
    margin-right: 1mm;                        
}
.p_notes{
    padding-left: 3px;
}
#div_report_html .subcategory_container{
    border: 2px solid #DEDCDC;
    border-radius: 4px 4px 4px 4px !important;
}
#div_report_html{
    margin-top: -10px;
}
.div_subcategory_values{
    padding-left: 5px;
}
.div_subcategory_values ul{
   margin-left: 18px;
}
.img-polaroid {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 4px;
}
.img-rounded {
    border-radius: 6px 6px 6px 6px;
}
.item{
    margin: 0px auto;;
}
#div_carousel{
    padding: 5px;
}
.galleria-container{
     background: none repeat scroll 0 0 #EEEEEE;
     border: 1px solid #DEDCDC;
}
.galleria-image img{
    background-color: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 4px;   
}
.galleria-thumbnails .galleria-image{
    border: 1px solid #DEDCDC;    
} 
.div_disclosure{
    margin: auto;
    padding: 5px;
}
.subcategory_container{
    margin-bottom: 20px;
}
.padding{
    padding:5px;
}

.preface{
    color: #78B43B;
    float: none !important;
    font-size: 16pt;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: 80%;
}