.well {
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 20px;
    padding: 19px;
}
#a_excel {
    background-image: url("../img/excel_1.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 72px;
    width: 72px;
}
a {
    color: #0088cc;
    text-decoration: none;
}
.span4 {
    width: 300px;
    float: left;
    margin-left: 20px;
    min-height: 1px;
}
.uneditable-input {
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 18px;
    line-height: 20px;
    margin-bottom: 9px;
    padding: 4px 6px;

}
.input-small {
    width: 120px;
}
.datepicker{
    left: 345px!important;
}.alert-success {
    background-color: #dff0d8;
    border-color: #46886a;
    color: #468847;
}
.error {
    border-color: #b94a48 !important;
    color: #b94a48;
}
.alert-danger, .alert-error, .error {
    background-color: #f2dede;
    border-color: #b94a48;
    color: #b94a48;
}